[submodule "omsagent"]
	path = omsagent
	url = git@github.com:Microsoft/OMS-Agent-for-Linux.git
	branch = develop
[submodule "opsmgr"]
	path = opsmgr
	url = git@github.com:MSFTOSSMgmt/SCXcore.git
	branch = develop
[submodule "pal"]
	path = pal
	url = git@github.com:MSFTOSSMgmt/pal.git
	branch = develop
[submodule "omi"]
	path = omi
	url = git@github.com:MSFTOSSMgmt/omi.git
	branch = develop
[submodule "dsc"]
	path = dsc
	url = git@github.com:Microsoft/PowerShell-DSC-for-Linux.git
	branch = develop
